<html>
    <head>
        <title>just a blog...</title>
    </head>
    <body>
        <div>
            <h1><a href="">justABlog</a></h1>
        </div>
            <em>HIII welcome
                <br />
                <strong>welcome to my "Little channel" </strong>
            </em>
        <div>
            <p>published: 11.20.2019</p>
            <h2><a href="">My first post</a></h2>
            <p>here is an evidence that shows my work</p>
        </div>

        <div>
            <p>published: 11.2-.2019</p>
            <h2><a href="">My second post</a></h2>
            <p>I hope i can back to china
                <br />
                AAAAAA
                <br />
                so sad :(
            </p>
        </div>
    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    </body>
</html>